<#include "/layout/admin-header.html">
    <#include "/layout/teacher-side-bar.html">

        <script language="javascript" src="js/api/question.js"></script>
        <script language="javascript" src="js/api/question_category.js"></script>
        <script language="javascript" src="js/api/question_level.js"></script>
        <script language="javascript" src="js/api/question_type.js"></script>
        <script language="javascript" src="js/api/question_choice.js"></script>
        <script language="javascript" src="js/api/question_topic.js"></script>

        <script src="js/questiontype.js"></script>

        <!-- content start -->
        <div class="admin-content">

            <form id="form">


                <div class="admin-content-body">
                    <div class="am-cf am-padding am-padding-bottom-0">
                        <div class="am-fl am-cf">
                            <strong class="am-text-primary am-text-lg">Question</strong> /
                            <small>detail</small>
                        </div>
                    </div>

                    <hr>

                    <div class="am-tabs am-margin" data-am-tabs>
                        <ul class="am-tabs-nav am-nav am-nav-tabs">
                            <li class="am-active"><a href="#tab1">Info</a></li>
                        </ul>

                        <div class="am-tabs-bd">
                            <div class="am-tab-panel am-fade am-in am-active" id="tab1">

                                <div class="am-g am-margin-top">
                                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                        Name
                                    </div>
                                    <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                        <input type="text" name="name" id="name" class="am-form-field">
                                    </div>
                                </div>

                                <div class="am-g am-margin-top">
                                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                        Mark
                                    </div>
                                    <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                        <input type="number" name="mark" id="mark" class="am-form-field" value="5">
                                    </div>
                                </div>

                                <div class="am-g am-margin-top">
                                    <div class="am-u-sm-4 am-u-md-2 am-text-right">Module</div>
                                    <div class="am-u-sm-8 am-u-md-10">
                                        <select data-am-selected="{btnSize: 'sm'}" id="category" name="category" onchange="chooseCategory()">

                                        </select>
                                    </div>
                                </div>

                                <div class="am-g am-margin-top">
                                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                        Topic
                                    </div>
                                    <div class="am-u-sm-8 am-u-md-10">
                                        <select data-am-selected="{btnSize: 'sm'}" id="topic" name="topic">

                                        </select>
                                    </div>
                                </div>

                                <div class="am-g am-margin-top">
                                    <div class="am-u-sm-4 am-u-md-2 am-text-right">Level</div>
                                    <div class="am-u-sm-8 am-u-md-10">
                                        <select data-am-selected="{btnSize: 'sm'}" id="level" name="level">

                                        </select>
                                    </div>
                                </div>




                                <div class="am-g am-margin-top-sm">
                                    <div class="am-u-sm-2 am-text-right">
                                        Feedback
                                    </div>
                                    <div class="am-u-sm-10">
                                        <textarea id="feedback" class="editor" name="feedback" rows="10" placeholder="Input feedback here"></textarea>
                                    </div>
                                </div>




                                <div class="am-g am-margin-top">
                                    <div class="am-u-sm-4 am-u-md-2 am-text-right">Type</div>
                                    <div class="am-u-sm-8 am-u-md-10">
                                        <select  data-am-selected="{btnSize: 'sm'}" id="type" name="type" onchange="chooseType()">

                                        </select>
                                    </div>
                                </div>

                                <div class="am-g am-margin-top-sm">
                                    <div class="am-u-sm-2 am-text-right">
                                        Content
                                    </div>
                                    <div class="am-u-sm-10">
                                        <textarea id="content" class="editor" name="content" rows="10" placeholder="Input content here"></textarea>
                                    </div>
                                </div>

                                <hr/>

                                <div id="questiontype">

                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="am-margin">
                        <button type="submit" class="am-btn am-btn-primary am-btn-xs">Submit</button>
                        <button type="reset" class="am-btn am-btn-primary am-btn-xs">Discard</button>
                    </div>
                </div>

                <input type="hidden" id="id" name="id" value="${id?if_exists}"/>
                <input type="hidden" id="answer"  />
                <input type="hidden" id="qc_content"  />
                <input type="hidden" id="blankIndex" value="0"/>
                <input type="hidden" id="choiceIndex" value="0"/>

            </form>


            <footer class="admin-content-footer">
                <hr>
            </footer>
        </div>
        <!-- content end -->

        <script>
            var id = $("#id").val();
            var type = $("#type").val();
            $(document).ready(function(){
                getCategories(false,2);
                getLevels(false);

                if(id != null && id.length!=0){
                    getTypesForQuestion(false,id);
                }else{
                    getTypesForQuestion(true,"");
                }
                initType();
            });


            function chooseType(){
                initType();
            }

            function chooseCategory() {
                getTopics(false,$("#category").val());
            }


            $.validator.setDefaults({
//        debug:true
            });

            $().ready(function() {
                $("#form").validate({
                    rules: {
                        name: "required",
                        mark: {
                            required: true,
                            digits:true
                        },
                        answer: "required",
                        tag: "required",
                        content: "required",
                        feedback: "feedback"
                    },
                    submitHandler: function() {
                        id = $("#id").val();
                        if (id != null && id.length!=0) {
                            KE.sync(".editor");//sync all KE object by class contain editor
                            updateQuestion();
                        }else {
                            addQuestion();
                        }
                    }
                });
            });


        </script>


        <!--rich text editor-->
        <script>
            var KE = window.KindEditor;

            var ke_content;
            var ke_feedback;

            KE.ready(function(K) {
                ke_content = K.create('textarea[name="content"]', {
                    resizeType : 1,
                    allowPreviewEmoticons : false,
                    allowFileManager : true,
                    allowUpload : true,
                    filterMode: false,
                    uploadJson : uploadPath(),
                    imageUploadJson : uploadPath(),
                    afterBlur: function(){this.sync();},
                    items : [
                        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                        'insertunorderedlist', '|', 'emoticons', 'image','multiimage', 'link','code']
                });
            });

            KE.ready(function(K) {
                ke_feedback = K.create('textarea[name="feedback"]', {
                    resizeType : 1,
                    allowPreviewEmoticons : false,
                    allowFileManager : true,
                    allowUpload : true,
                    uploadJson : uploadPath(),
                    imageUploadJson : uploadPath(),
                    afterBlur: function(){this.sync();},
                    items : [
                        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                        'insertunorderedlist', '|', 'emoticons', 'image','multiimage', 'link','code']
                });
            });

        </script>


        <#include "/layout/admin-footer.html">