<#include "/layout/admin-header.html">
    <#include "/layout/teacher-side-bar.html">

        <script language="javascript" src="js/api/question.js"></script>
        <script language="javascript" src="js/api/question_category.js"></script>
        <script language="javascript" src="js/api/question_level.js"></script>
        <script language="javascript" src="js/api/question_type.js"></script>
        <script language="javascript" src="js/api/question_choice.js"></script>

        <script src="js/questiontype.js"></script>

        <!-- content start -->
        <div class="admin-content">

            <form id="form">


                <div class="admin-content-body">
                    <div class="am-cf am-padding am-padding-bottom-0">
                        <div class="am-fl am-cf">
                            <strong class="am-text-primary am-text-lg">Question</strong> /
                            <small>detail</small>
                        </div>
                    </div>

                    <hr>

                    <div class="am-tabs am-margin" data-am-tabs>
                        <ul class="am-tabs-nav am-nav am-nav-tabs">
                            <li class="am-active"><a href="#tab1">Info</a></li>
                        </ul>

                        <div class="am-tabs-bd">
                            <div class="am-tab-panel am-fade am-in am-active" id="tab1">

                                <div class="am-g am-margin-top">
                                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                        Name
                                    </div>
                                    <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                        <input type="text" name="q.name" id="name" class="am-form-field">
                                    </div>
                                </div>

                                <div class="am-g am-margin-top">
                                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                        Mark
                                    </div>
                                    <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                        <input type="number" name="q.mark" id="mark" class="am-form-field" value="5">
                                    </div>
                                </div>

                                <div class="am-g am-margin-top">
                                    <div class="am-u-sm-4 am-u-md-2 am-text-right">Category</div>
                                    <div class="am-u-sm-8 am-u-md-10">
                                        <select data-am-selected="{btnSize: 'sm'}" id="category" name="q.question_category_id">

                                        </select>
                                    </div>
                                </div>

                                <div class="am-g am-margin-top">
                                    <div class="am-u-sm-4 am-u-md-2 am-text-right">Level</div>
                                    <div class="am-u-sm-8 am-u-md-10">
                                        <select data-am-selected="{btnSize: 'sm'}" id="level" name="q.question_level_id">

                                        </select>
                                    </div>
                                </div>

                                <div class="am-g am-margin-top">
                                    <div class="am-u-sm-4 am-u-md-2 am-text-right">Type</div>
                                    <div class="am-u-sm-8 am-u-md-10">
                                        <select  data-am-selected="{btnSize: 'sm'}" id="type" name="q.question_type_id" onchange="chooseType()">

                                        </select>
                                    </div>
                                </div>

                                <div class="am-g am-margin-top-sm">
                                    <div class="am-u-sm-2 am-text-right">
                                        Content
                                    </div>
                                    <div class="am-u-sm-10">
                                        <textarea id="content" name="q.content" rows="10" placeholder="Input content here"></textarea>
                                    </div>
                                </div>

                                <div class="am-g am-margin-top-sm">
                                    <div class="am-u-sm-2 am-text-right">
                                        Feedback
                                    </div>
                                    <div class="am-u-sm-10">
                                        <textarea id="feedback" name="q.feedback" rows="10" placeholder="Input feedback here"></textarea>
                                    </div>
                                </div>

                                <div class="am-g am-margin-top">
                                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                        Tag
                                    </div>
                                    <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                        <input type="text" name="q.tag" id="tag" class="am-form-field" value="">
                                    </div>
                                </div>



                                <hr/>

                                <div id="questiontype">

                                </div>

                                <button type="button" onclick="addOption()" value="add button">add button</button>


                            </div>

                        </div>
                    </div>

                    <div class="am-margin">
                        <button type="submit" class="am-btn am-btn-primary am-btn-xs">Submit</button>
                        <button type="reset" class="am-btn am-btn-primary am-btn-xs">Discard</button>
                        <button type="button" class="am-btn am-btn-primary am-btn-xs" onclick="removeType('TrueFalse')">Remove</button>
                    </div>
                </div>

                <input type="hidden" id="id" name="id" value="${id?if_exists}"/>
                <input type="hidden" id="qc_answer"  />
                <input type="hidden" id="qc_content"  />

            </form>


            <footer class="admin-content-footer">
                <hr>
            </footer>
        </div>
        <!-- content end -->

        <script>
            var id = $("#id").val();
            var type = $("#type").val();
            $(document).ready(function(){

                getCategories(false);
                getLevels(false);
                getTypes(false);

                if(id != null && id.length!=0){
                    getQuestion(id);
                }
                initType();
            });


            function chooseType(){
                initType();
            }


            $.validator.setDefaults({
//        debug:true
            });

            $().ready(function() {
                $("#form").validate({
                    rules: {
                        name: "required",
                        mark: {
                            required: true,
                            minlength: 5,
                            digits:true
                        },
                        answer: "required",
                        content: "required",
                        feedback: "feedback"
                    },
                    submitHandler: function() {
                        id = $("#id").val();
                        if (id != null && id.length!=0) {
                            updateQuestion();
                        }else {
                            addQuestion();
                        }
                    }
                });
            });

            function addOption(){
                editor.insertHtml('<input type="button" value="add" disabled/>');
            }
        </script>


        <!--rich text editor-->
        <script>

            var content;
            var feedback;

            KindEditor.ready(function(K) {
                content = K.create('textarea[name="q.content"]', {
                    resizeType : 1,
                    allowPreviewEmoticons : false,
                    allowFileManager : true,
                    allowUpload : true,
                    uploadJson : uploadPath(),
                    imageUploadJson : uploadPath(),
                    afterBlur: function(){this.sync();},
                    items : [
                        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                        'insertunorderedlist', '|', 'emoticons', 'image','multiimage', 'link','code']
                });
            });

            KindEditor.ready(function(K) {
                feedback = K.create('textarea[name="q.feedback"]', {
                    resizeType : 1,
                    allowPreviewEmoticons : false,
                    allowFileManager : true,
                    allowUpload : true,
                    uploadJson : uploadPath(),
                    imageUploadJson : uploadPath(),
                    afterBlur: function(){this.sync();},
                    items : [
                        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                        'insertunorderedlist', '|', 'emoticons', 'image','multiimage', 'link','code']
                });
            });

        </script>


        <#include "/layout/admin-footer.html">