<!DOCTYPE html>
<html>
<head lang="en">
    <base href="http://localhost:8080/"/>

    <meta charset="UTF-8">
    <title>Login Page | Quiz Engine</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <style>
        .header {
            text-align: center;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        .header p {
            font-size: 14px;
        }
    </style>
    <script src="assets/js/jquery.min.js"></script>
    <script src="js/Cookie.js"></script>
    <script src="js/dist/jquery.validate.js"></script>
    <script>
        var pre_url = document.referrer;
        setCookie("pre_url",pre_url);
    </script>
</head>
<body>
<input type="hidden" name="user_type" value="" >