<!-- sidebar start -->
<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li class="admin-parent">
                <a class="am-cf am-collapsed" data-am-collapse="{target: '#question-nav'}"><span class="am-icon-file"></span> Question Bank <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list admin-sidebar-sub am-collapse" id="question-nav">
                    <li><a href="teacher/route/question"><span class="am-icon-puzzle-piece"></span> Bank<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                    <!--<li><a href="teacher/route/category"><span class="am-icon-puzzle-piece"></span> Category</a></li>-->
                    <li><a href="teacher/route/topic"><span class="am-icon-puzzle-piece"></span> Topic</a></li>
                    <li><a href="teacher/route/level"><span class="am-icon-puzzle-piece"></span> Level</a></li>
                </ul>
            </li>

            <!--<li><a href="teacher/route/quiz"><span class="am-icon-table"></span> Quiz</a></li>-->
            <li><a href="teacher/route/user"><span class="am-icon-check"></span> User</a></li>
        </ul>

    </div>
</div>
<!-- sidebar end -->